<div id="item">
  <h5>This is template for </h5>
  <h5><%= p locals[:name] %></h5>
  <h5><%= p locals[:description] %></h5>
  <h5><%= p locals[:category] %></h5>
  <h5><%= p locals[:photo] %></h5>
  <h5><%= p locals[:condition] %></h5>
</div>
